<h6>Navigation</h6>
<ol>
		
	<li>
		<p><small><a href="/index.html">Home</a></small></p>
	</li>
	<li>
		<p><small><a href="/aboutme.html">About Me</a></small></p>
	</li>		
	<hr>
</ol>
<h5><b>POSTS</b></h5>
<h6>Words</h6>
<ol>
	<li>
		<p><small><a href="https://aksaba.github.io/#2022-03-19-23">The Four Stages of a Modern Hindu</a></small></p>
	</li>
	<li>
		<p><small><a href="https://aksaba.github.io/#2021-03-25-23">365 Days of Lockdown</a></small></p>
	</li>
	<li>
		<p><small><a href="https://aksaba.github.io/#2019-06-29-14">My Feeble Attempt at Microfiction</a></small></p>
	</li>
	<li>
		<p><small><a href="https://aksaba.github.io/#2018-08-14-12">The Manuscript Merry-go-round</a></small></p>
	</li>
	<li>
		<p><small><a href="https://aksaba.github.io/#2022-10-09-23">The Philosophical Defense Mechanisms</a></small></p>
	</li>
	
	
</ol>
<h6>Photos</h6>
<ol>
	<li>
		<p><small><a href="https://aksaba.github.io/#2016-12-04-03">Trip to South Korea</a></small></p>
	</li>
</ol>
<h6>Data Visualizations</h6>
<ol>
	<li>
		<p><small><a href="https://aksaba.github.io/#2020-04-04-04">Tracking the COVID19 Outbreak in Tamil Nadu</a></small></p>
	</li>
	<li>
		<p><small><a href="https://aksaba.github.io/#2022-09-16-23">Data Visualizations in My Thesis</a></small></p>
	</li>
</ol>
<h6>Codes</h6>
<ol>
	<li>
		<p><small><a href="https://aksaba.github.io/#2020-05-23-15">Python-Bokeh Data Visualization Codes</a></small></p>
	</li>
</ol>

​	
